django >= 2.0
djangorestframework >= 3.0
django-debug-toolbar
jinja2
pytest
pytest-django
pytest-coverage
-e git+http://github.com/fabiommendes/django-boogie.git/#egg=boggie
-e git+http://github.com/fabiommendes/hyperpython.git/#egg=hyperpython
